*{box-sizing: border-box;}

body{
 
}

.contenedor-Principal{
  display: flex;
  justify-content: space-between;
  width: 100%;
  
}


.medidas{
 align-items: center;
  width: 30%;
}


.bienvenida{

  text-align: center;
  font-size: 48px;
  width: 100%;
  padding: 42px;
}

.imag{

  width: 318px;
  height: 300px;
  align-items: center;
  margin: 0 auto;
  display: block;
}

.contenedor-negro{
  background-color: black;
  color: #FAFAFA;
  text-align: center;
  padding: 35px 35px;
}

.check{
 width: 80px;
 height: 80px;
 margin-top: 50px
}

.contenedor-blanco{
  text-align: center;
  padding: 80px;
  color: #2C2C2C;
  font-family: "roboto";
  font-size: 16px;
}

.medidas-pc{
  width: 138px;
  height: 128,03px;
  margin-top: 60px;
}

.titulo-blanco{
  color: #2C2C2C;
  font-family: "open";
  font-size: 32px;
  
}

.contenedor-contacto{
  background-color: black;
 
}

.tituloDos{
  text-align: center;
  padding: 69px;
  color: #fafafa;
  font-family: "open";
  font-size: 32px;
}

.label{
  color: white;
}