*{box-sizing: border-box;}
 
body{
 margin: 0;
}


@font-face {
  font-family: "open";
  src: url(./OpenSans-Bold.ttf);
}

@font-face {
  font-family: roboto;
  src: url(./Roboto-Black.ttf);
}

.contenedor-Principal{
  display: flex;
  justify-content: space-between;
  width: 100%;    
}



.menu{
  justify-content: center;
  padding: 70px 50px;
  
  
}



.agregado{
  display: none;
}


.bienvenida{
 font-family: "open";
  text-align: center;
  font-size: 48px;
  width: 100%;
  padding: 42px;
}


.imag{

  width: 318px;
  height: 300px;
  align-items: center;
  margin: 0 auto;
  display: block;
}

.seccion-dos{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141414;
  padding:55px 0px 68px 0px;
}
.contenedor-seccion-dos{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  padding:0px;
  width: 100%;
}
.contenedor-ivan{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.titulo-ivan{
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 32px;
  color: #FAFAFA;
  margin:0px
}
.lore{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  max-width: 312px;
  color: #FAFAFA;
  padding:0px;
  margin:41px 0px 57px 0px
}
.logos{
  height: 80px;
}

.contenedor-blanco{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0px 65px 0px;
  width: 100%;

}

.titulo-blanco{
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 50px;
  text-align: center;
}
.servicios{
  display: flex;
  flex-direction: column;
  margin:0px;
  padding: 0px;
}
.servicio{
  display: flex;
  flex-direction: column;
  gap:15px;
  align-items: center;
}
.pcs{
  width: 138px;
}
.title-service{
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 24px;
}
.descripcion{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  max-width: 262px;
  text-align: center;
}

@media (min-width: 900px) {
  .seccion-3{
    padding: 59px 0px 100px 0px;
  }
  .titule-service{
    font-size: 48px;
    margin-bottom: 80px;
  }
  .servicios{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    gap:100px;
  }
}


.contenedor-contacto{
  background-color: #141414;
  

}

.tituloDos{
  text-align: center;
  padding:69px;
  color: #fafafa;
  font-family: "open";
  
  background-color: #141414;
}



.seccion-cuatro {
  display: flex;
  flex-direction: column;
  height: 660px;
  background-color: #141414;
  color: #fafafa;
  padding: 0px 20px;
  width: 100%;
}
.label {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}
.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.submit-button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-color: #ffd953;
  color: #141414;
  border-radius: 4px;
  width: 100%;
  height: 45px;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
}


.oculto{
  display: none;
}


.check{
  display: none;
}

.imput{
  color: white;
  border: none;
  display: block;
  size: 80px;
  width: 80%;
  margin: 0 auto;
  min-height: 40px;
  max-width: 355px;
}


.email{
  color: white;
  margin-top:27px;
  display: block;
  
}

.texto{
 min-height: 100px;
 width: 80%;
}



.boton{
  background-color: #FFD953;
  text-align: center;
  color: #141414;
  margin-top: 60px;
  
}


.occult{
  display: none;
}

.cont-final{
  display:flex;
  background-color: #DBDBDB;
  flex-direction: column;
  gap:89px;
  padding:53px 0px 119px 20px;
}

.labl{
  font-family: 'Roboto';
  font-weight: 399;
  font-size: 16px;
}

.logo{
  max-width: 90px;
}

.redes-sociales{
  display:grid;
  gap:30px
}

.ig,.lidin,.git{
  display: flex;
  align-items: center;
  gap:12px
}

@media (min-width:900px) {
  .tituloDos{
   display: flex;
   align-items: center;
   justify-content: center;
   
  }
  .submit-button {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    background-color: #ffd953;
    color: #141414;
    border-radius: 4px;
    width: 100%;
    height: 45px;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
  }
  
   .barras{
    display: none;
    }
  
  

  .imput{
   color: white;
   display: block;
   margin: auto;
   max-width: 376px;
    }

.seccion-cuatro {
 display: flex;
 flex-direction: column;
 height: 660px;
 background-color: #141414;
 color: #fafafa;
 padding: 0px 20px;
 width: 100%;
 }
      
  .form {
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
 }
        
  .label{
 font-family: "Roboto", sans-serif;
 font-size: 13px;
}

 .tituloDos{
 display: flex;
 }
 
 .occult{
   display: flex;
   margin-left: 200px;
   max-width: 400px;
   
 }
 .logos{
   display: none;
 }

 .bienvenida{
  font-family: "open";
  margin: 40px 60px;
  width: 100%;
  text-align:left
  }

  .imag{
    width:435px;
    Height:395px;
   }
   .agregado{
     display: inline;
   }
   .menu{
     display: flex;
     justify-content: row;
     gap: 60px;
     margin: 30px 0px;
     text-align: center;
     font-size: 20px;
     font-family: "roboto";
   }
 .juntos{
   display: flex;
   justify-content: space-between;
 }

 .contenedor-seccion-2{
  flex-direction: row-reverse;
  justify-content: space-between;
  max-width: 833px;
}
.logo-ok{
  height: 211px;
}
.soy-matias{
  align-items: flex-start;
}
.contenedor-soy{
  align-items:flex-start
}
.algo-de-mi{
  font-size: 24px;
  width: 532px;
  max-width: none;
}


.cont-final {
  padding: 110px 0px;
  flex-direction: row;
  gap: 800px;
  align-items: flex-start;
}
}